<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Locadora de Carros Allocate</title>
  <link rel="stylesheet" href="/View/css/index.css">
</head>
<body>
  <header>
    <nav>
      <div class="logo">
        <img src="logo.png" alt="Allocate">
        <h1>Allocate</h1>
      </div>
      <div class="header-info">
        <p>Carros</p>
        <p>Grupo de Agências</p>
        <p>Ofertas</p>
      </div>
      <div class="header-links">
        <a href="#">Minhas Reservas</a>
        <a href="#">Login</a>
      </div>
    </nav>
  </header>

  
    <div class="carousel" style="background-color: #8BC34A;">
      <!-- Aqui você pode adicionar as imagens do seu carrossel posteriormente -->
    </div>


  <main>
    <!-- Seções de destaque, pesquisa rápida, destaques de carros, etc. -->
  </main>
  <footer>
    <div class="footer-content">
      <ul>
        <li><a href="#">Termos de Serviço</a></li>
        <li><a href="#">Política de Privacidade</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
      <div class="social-icons">
        <a href="#"><img src="facebook.png" alt="Facebook"></a>
        <a href="#"><img src="twitter.png" alt="Twitter"></a>
        <a href="#"><img src="instagram.png" alt="Instagram"></a>
      </div>
    </div>
  </footer>
</body>
</html>
