header {
    background-color: #01602A;
    padding: 20px 0;
    margin-top: 20px; /* Adicionando margem ao topo do header */
    border-radius: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    z-index: 2;
    position: absolute;
    top: 30px; /* Posicionando o header no topo da página */
    left: 50%; /* Alinhando o centro do header com o centro da página */
    transform: translateX(-50%); /* Centralizando horizontalmente */
  }
  
  .carousel {
    background-color: #8BC34A; /* Fundo verde do carrossel */
    width: 100%; /* Ajuste o tamanho conforme necessário */
    height: 600px; /* Ajuste a altura conforme necessário */
    margin-top: 80px; /* Ajustando a distância entre o carrossel e o header */
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    position: relative; /* Mantendo o posicionamento como relative */
    z-index: 1;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .header-info {
    display: flex;
  }
  
  .header-info p {
    margin-right: 20px;
    color: #ffffff;
    font-weight: bold;
  }
  .header-info p:hover {
    color: #ff6600;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 100%;
  }
  .header-links {
    display: flex;
    align-items: center;
  }
  
  .header-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }
  
  .header-links a:hover {
    color: #ff6600;
  }
/*  */

.carousel-de-cards {
  width: 60%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-top: 100px;
  border-radius: 20px;
  background-color: #ffffff;
  z-index: 1;
}

.carousel2 {
  display: flex;
  transition: transform 0.5s ease-in-out;
  justify-content: center;
  height: 450px;
  width: 100%;
}

/* Cards */

.carousel-card {
  width: 100%;
  height: 350px;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  background-color: #ffffff; /* Cor de fundo branca */
  border-radius: 15px; /* Bordas mais suaves */
  margin: 40px; /* Espaçamento entre os cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out; /* Transição suave para redimensionamento e sombra */
}

.carousel-card img {
  width: 400px;
  height: 200px;
  border-radius: 10px; /* Bordas arredondadas para a imagem */
  margin-bottom: 15px;
}

.carousel-card p {
  margin: 10px 0;
  font-size: 1.1em;
  color: #333; /* Cor do texto */
}

.carousel-card p:nth-child(2) {
  font-weight: bold; /* Negrito para o modelo */
  font-size: 1.2em;
}

.carousel-card:hover {
  transform: scale(1.05); /* Aumenta o card ao passar o mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2); /* Sombra mais intensa ao passar o mouse */
}

.carousel-controls button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.carousel-controls button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/*  */

.carousel-card.active {
  transform: scale(1.1); /* Aumenta o tamanho do card ativo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra para destacar */
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-controls button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

/* Posiciona o botão de próximo no card do meio */
#nextBtn {
  position: absolute;
  right: calc(50% - 177px); /* Ajuste conforme a largura do seu card */
}
#prevBtn {
  position: absolute;
  right: calc(65% - 47px); /* Ajuste conforme a largura do seu card */
}
.titulo-cards{
  text-align: center;
  font-weight: bold;
  margin-top: 35px;
  background-color:rgb(235, 237, 238);
  height: 150px;
  display:grid;
  align-items: center;
}
.titulo-cards h1{
  color: #01602A ;

}

/* Botao Carros */
.botao{
  width: 100%;
  display: flex;
  justify-content: center;
}

.custom-button {
  background-color: transparent;
  border: 1px solid #01602A; /* Cor da borda */
  color: #01602A; /* Cor do texto */
  padding: 10px 20px; /* Espaçamento interno */
  border-radius: 5px; /* Borda arredondada */
  font-size: 16px; /* Tamanho da fonte */
  transition: background-color 0.3s, color 0.3s; /* Transição suave */
  cursor: pointer; /* Cursor ao passar o mouse */
  font-family: 'Montserrat', sans-serif;
}

.custom-button:hover {
  background-color: #01602A; /* Cor de fundo ao passar o mouse */
  color: white; /* Cor do texto ao passar o mouse */
}



    
  
  