<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styleIndex.css">
</head>
<body>
    <header>
        <div class="left-section">
            <img src="../img/iconCasa.png" alt="Home Icon">
            <a href="#">Home</a>
            
            <img src="../img/iconCardapio.png" alt="Menu Icon">
            <a href="#">Cardápio</a>
        </div>
        <img src="../img/imgFundo-.png" alt="Logo" class="logo">
        <div class="right-section">
            <a href="#">Meu Perfil</a>
            <img src="../img/imgPerfil.png" alt="Profile Icon">
        </div>
    </header>
    <div class="carousel">
        <!-- Seu carrossel aqui -->
    </div>

    <div class="image-section">
        <h2>Título da Seção</h2>
        <div class="image-container">
            <img src="pizza1.jpg" alt="Pizza 1">
            <img src="pizza2.jpg" alt="Pizza 2">
            <img src="pizza3.jpg" alt="Pizza 3">
        </div>
    </div>

    <div class="purchase-section">
        <h2>Título da Área de Compra</h2>

        <div class="card">
            <img src="pizza_image.jpg" alt="Pizza Image" class="card-image">
            <div class="card-details">
                <h3>Nome da Pizza</h3>
                <p>Breve descrição da pizza...</p>
            </div>
            <div class="card-bottom">
                <div class="price">R$ 25,00</div>
                <button class="buy-button">Comprar</button>
            </div>
        </div>

        <!-- Adicione mais cards conforme necessário -->

    </div>      
  
</body>
</html>