<table>
    <thead>
        <tr>
            <th>Rg</th>
            <th>Nome</th>
            <th>Turma</th>
            
        </tr>
    </thead>
    <tbody>
        <tr th:each="aluno : ${alunos}">
            <th:block th:if = "${aluno.turma == docente.turma}">
            <td th:text="${aluno.rg}"></td>
            <td th:text="${aluno.nome}"></td>
            <td th:text="${aluno.turma}"></td>
            <td class="btn-cell">
                <a th:href="@{'/lancamento/' + ${aluno.rg} }" class="btn-excluir">
                    <i class="fas fa-trash-alt"></i> Lançar
                </a>
            </td>
        </th:block>

        </tr>
    </tbody>
</table>