<header>
    <h1>Escola XYZ</h1>
    <nav>
        <a href="/home">Home</a>
        <a href="/sobre">Sobre</a>
        <a href="/contato">Contato</a>
        <div class="icons_acess">
            <a href="/login-aluno"><i class="fas fa-user-graduate"></i> Alunos</a>
            <a href="/login-docente"><i class="fas fa-chalkboard-teacher"></i> Professores</a>
            <a href="/login-adm"><i class="fas fa-user-tie"></i> Administradores</a>
            <a href="/lancarNotas"><i class="fas fa-chalkboard-teacher"></i> Lançar notas</a>
        </div>
    </nav>
</header>
