<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Seus cabeçalhos -->
    <link rel="stylesheet" th:href="@{css/lista.css}">
</head>
<body>
    <!-- Barra lateral esquerda -->
    <div th:replace="fragmentos/info-docente"></div>

    <!-- Conteúdo principal -->
    <div class="content">
        <!-- Seu conteúdo principal aqui -->
        <h1>Seus Alunos</h1>
        <!-- Exibir informações do professor -->
        <div th:replace="fragmentos/aluno-filtrado"></div>
        
    </div>

    <!-- Seus scripts e rodapé -->
</body>
</html>
